{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
 {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style-form.css')}}">
{% endblock %}

{% block body %}
   <section class="inscription">
        
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1>Créer un compte</h1>

        {{ form_start(registrationForm) }}
            
            {{ form_widget(registrationForm.email) }}
            {{ form_widget(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Enregistrer</button>
        {{ form_end(registrationForm) }}

        <h2>Vous avez déjà un compte ?</h2>
        <a href="{{path('app_login')}}">Se connecter</a>
    </section>
{% endblock %}
